
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat&display=swap');

body{
    margin: 0rem;
    font-family: 'Montserrat', sans-serif;
}

#container1 {
    position: relative;
}
  
li {
    list-style: none;
    padding: 2.5rem;
}
  
a {
    color: #000;
    text-decoration: none;
}  
a:hover{
    color: lightgreen;
}

header {
    /* position: fixed; */
    height: 5.5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #66ff99; */
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}
  
/* p{
    padding: 2rem;
    font-family: 'Hachi Maru Pop', cursive;
    font-family: 'Courgette', cursive;
    font-size: 2.3rem;
    font-weight: bold;
    color: blue;
}*/

.logo {
    width: 60vw;
}

#header-img {
    width: 100%;
    height:100%;
    max-width: 20rem;
    max-height: 5.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}
  
nav > ul {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.3rem;
}

/* Focus Areas */

.area-section{
    text-align: center;
    padding: 10rem 2rem;
    background: #0099cc;
}

.area-section-header{
    max-width: 650px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.3rem solid white;
}

.area-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.area{
    background: #3d3d29;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
  
.area-image{
    height: calc(100% - 7rem);
    width: 100%;
    object-fit: cover;
}

.area-title{
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    color: white;
}
