
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat&display=swap');

body{
    margin: 0rem;
    font-family: 'Montserrat', sans-serif;
}

#container1 {
    position: relative;
}
  
li {
    list-style: none;
    padding: 2.5rem;
}
  
a {
    color: #000;
    text-decoration: none;
}  
a:hover{
    color: lightgreen;
}

header {
    position: fixed;
    height: 5.5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #66ff99; */
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}
  
p{
    padding: 2rem;
    font-family: 'Hachi Maru Pop', cursive;
    /* font-family: 'Courgette', cursive; */
    font-size: 2.3rem;
    font-weight: bold;
    color: blue;
}

/* .logo {
    width: 60vw;
}

#header-img {
    width: 100%;
    height: 100%;
    max-width: 20rem;
    max-height: 5.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
} */
  
nav > ul {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.3rem;
}

 
